.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: light;
}

body {
    background-color: #232830;
}

.nav_bar {
    font-size: large;
    color: whitesmoke;
    margin: 25px 20px;
    display: flex;
    justify-content: space-between;
}

.right_navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}

.left_navbar {
    padding-right: 90px;
    font-size: larger;
}

.coder_image {
    content: url(./images/hacker.png);
    margin: auto;
    display: flex;
    justify-content: center;
}

.below_image_text1 {
    color: #ff7575;
    font-size: 40px;
    font-style: italic;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.below_image_text2 {
    text-align: center;
    color: whitesmoke;
    margin: 0px;
    margin-bottom: 20px;
}

.navrow {
    padding-top: 10px;
    border-top: 1px solid #4d4d4d;
    color: #4d4d4d;
    display: flex;
    justify-content: space-between;
}

.symbols {
    margin: auto 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
}

.names {
    font-style: italic;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    width: 1300px;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9 {
    padding: 20px;
    margin: 20px;
    background-color: whitesmoke;
    width: 30%;
    height: 30%;
    gap: 20px;
    border-radius: 22px;
    border: 1px 0px 0px 0px;
    flex-wrap: wrap;
    overflow: hidden;
}

.image_style {
    width: 100%;
    border-radius: 10%;
    height: 250px;
}

.row1,.row2,.row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer_border {
    padding: 20px 480px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    font-style: italic;
    color: whitesmoke;
    border-bottom: 1px solid #4d4d4d;

}

.selected {
    border-top: 2px solid #ff7575;
    color: #ff7575;
}

.footer {
    display: flex;
    justify-content: space-between;

}